# By default, ignore everything in project root...
/*

# ... and the following directories and subdirectories with these names
**__pycache__/
**barcode_service.egg-info/
**.DS_Store/

# But don't ignore these directories
!/src/
!/resources/

# and don't ignore these specific files
!/.gitignore
!/README.md
!/development_requirements.txt
!/requirements.txt
!/pyproject.toml
